/* mobile styles*/
@media (max-width: 480px) {
  /* -------- Header -------- */

  .fa-cart-shopping {
    font-size: 15px;
  }

  /* a:hover {
      display: none;
    } */
  .nav-items {
    font-size: 14px;
  }

  .intro {
    background-image: url(../images/hiking_800w.jpg);
  }

  .fa-solid {
    margin: 0 5px;
    line-height: 0.7rem;
  }

  .intro_heading {
    font-size: 32px;
  }
  .intro {
    min-height: 45vh;
    background-position-x: center;
    background-position-y: bottom;
  }

  .intro div {
    padding: 25px 40px;
    text-align: center;
  }

  .card-text {
    font-size: 20px;
  }

  .category {
    margin: -20px auto -155px auto;
  }

  .categories {
    flex-direction: column;
    gap: none;
    margin: -70px auto -50px;
    padding: 20px;
  }

  .new-arrivals {
    margin: 150px auto;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .shop_category_container {
    margin: -120px auto;
  }

  .category_cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    line-height: 0.5rem;
    row-gap: 20px;
  }
  .newsletter {
    margin: 100px auto;
  }

  .footer_nav {
    max-width: 160px;
  }

  .footer_some {
    text-align: left;
    margin: -250px 30px 0px;
  }
  .nav-items.footer {
    font-size: 14px;
  }
  .footer_some img {
    max-width: 30px;
    padding: 15px 10px 5px 0px;
  }
}

/* tablet styles*/
@media (min-width: 481px) and (max-width: 799px) {
  .category-container,
  .new-arrivals,
  .shop_category_container {
    max-width: 600px;
    margin: 0 auto;
  }

  h3 {
    font-size: 24px;
  }

  .intro_heading {
    line-height: 3rem;
  }

  .intro div {
    padding: 10px 100px;
    text-align: center;
  }

  .p2 {
    margin: 10px auto;
  }

  /* .p1 {
      line-height: 1rem;
    } */

  .newsletter {
    margin: 0px auto;
  }

  .cta {
    padding: 12px 50px;
  }

  /* product site */
  .product_intro,
  .featured_products {
    max-width: 600px;
    margin: 0 auto;
  }
  .p1_strong {
    padding-bottom: 16px;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    grid-gap: 10px;
  }
}

/* desktop styles*/
@media (min-width: 800px) {
  .intro {
    min-height: 70vh;
  }

  .intro_heading {
    font-size: 68px;
    width: 600px;
  }

  .intro div {
    padding: 50px 20px;
    max-width: 600;
  }

  .p2 {
    font-size: 24px;
    line-height: 2.3rem;
  }

  .category-container,
  .new-arrivals,
  .shop_category_container {
    max-width: 800px;
    margin: 0 auto;
  }
}
