
/* tablet styles*/
@media (min-width: 481px) {
  .category-container,
  .new-arrivals,
  .shop_category_container {
    max-width: 600px;
    margin: 0 auto;
  }

  h3 {
    font-size: 24px;
  }

  .intro_heading {
    line-height: 3rem;
  }

  .intro div {
    padding: 10px 100px;
    text-align: center;
  }

  .p2 {
    margin: 10px auto;
  }

  /* .p1 {
      line-height: 1rem;
    } */

  .newsletter {
    margin: 0px auto;
  }

  .cta {
    padding: 12px 50px;
  }

  /* product site */
  .product_intro,
  .featured_products {
    max-width: 600px;
    margin: 0 auto;
  }
  .p1_strong {
    padding-bottom: 16px;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    grid-gap: 10px;
  }

  .category-container,
  .new-arrivals,
  .shop_category_container {
    max-width: 600px;
    margin: 0 auto;
  }

  h3 {
    font-size: 24px;
  }

  .crumbs {
    margin: 5px 10px 5px 20px;
    padding: 0 20px;
  }

  .intro_heading {
    line-height: 3rem;
  }

  .intro div {
    padding: 10px 100px;
    text-align: center;
  }

  .p2 {
    margin: 10px auto;
  }

  /* .p1 {
      line-height: 1rem;
    } */

  .newsletter {
    margin: 0px auto;
  }

  .cta {
    padding: 12px 50px;
  }

  /* product site */
  .product_intro,
  .featured_products {
    max-width: 600px;
    margin: 0 auto;
  }
  .p1_strong {
    padding-bottom: 16px;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    grid-gap: 10px;
  }

  /* who we are */
  .about_section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
    grid-gap: 30px;
    grid-template-areas: "about" "founders" "newsletter" "picsone" "picstwo";
    margin-bottom: -125px;
    padding: 20px;
  }

  /* Contact */
  .contact_section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
    grid-gap: 30px;
    grid-template-areas: "about" "form" "founders" "newsletter";
    margin-bottom: -125px;
    padding: 40px;
  }

  /* Product page - YUKON jacket */
  .product_description {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 30px;
    grid-template-areas:
      "product_one"
      "product_text"
      "description_text"
      "product_two"
      "product_three"
      "product_four";
    margin: 20px 10px 20px 10px;
    padding: 20px 10px 10px 10px;
  }

  .product_four {
    margin-bottom: 50px;
  }

  /* shopping cart */
  .shoppingcart {
    justify-items: left;
    display: grid;
    gap: 30px;
    margin: 40px 40px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "summary_title"
      "billing"
      "payment";
  }

  .divider_small.hidden {
    border-top: solid 1px #f2a766;
    margin: 50px 0 30px 0;
  }

  /* popup */
  .card {
    visibility: hidden;
    background-color: #ffffff;
    opacity: 0;
    margin: -30px auto;
    padding: 20px 20px 50px 20px;
  }

  .card:target {
    visibility: visible;
    opacity: 1;
  }

  /* checkout */
  .shoppingcart.checkout {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 1fr;
    margin: 20px auto;
    padding: 0 40px;
    grid-gap: 40px;
    justify-items: center;
    grid-template-areas: "summary_title" "place_order";
  }
}

/* desktop styles*/
@media (min-width: 800px) {
  .intro {
    min-height: 70vh;
  }

  .intro_heading {
    font-size: 68px;
    width: 600px;
  }

  .intro div {
    padding: 50px 20px;
    max-width: 600;
  }

  .p2 {
    font-size: 24px;
    line-height: 2.3rem;
  }

  .category-container,
  .new-arrivals,
  .shop_category_container {
    max-width: 800px;
    margin: 0 auto;
  }
}
