/* 
Colors:
dark blue: #053541 
lighter blue: #257EA1
light beige: #F4F2ED
orange: #F2A766
red: #C4504D
green: #01893B
___

fonts >> Museo Slab - Museo Sans: 
<link rel="stylesheet" href="https://use.typekit.net/ljc0ywg.css">

<style>
  @import url("https://use.typekit.net/ljc0ywg.css");
</style>

h1 museo slab 900 48pt
h2 museo slab 900 32pt
h3 museo sans 500 24pt
p1 museo sans 300 16pt
p2 museo sans 700 16pt
p3 museo sans 300 12pt
p4 museo sans 700 12pt
___

*/
