/* 


Colors:
dark blue: #053541 
lighter blue: #257EA1
light beige: #F4F2ED
orange: #F2A766
red: #C4504D
green: #01893B
___

h1 museo slab 900 48pt
h2 museo slab 900 32pt
h3 museo sans 500 24pt
p1 museo sans 300 16pt
p2 museo sans 700 16pt
p3 museo sans 300 12pt
p4 museo sans 700 12pt
___

*/
@import "/css/imports/products.css";
@import "/css/imports/rainydays.css";
/* @import "./media.css"; */

@font-face {
  font-family: "museo-sans";
  src: url("https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "museo-sans";
  src: url("https://use.typekit.net/af/a28b50/00000000000000000000e803/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/a28b50/00000000000000000000e803/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3")
      format("woff"),
    url("https://use.typekit.net/af/a28b50/00000000000000000000e803/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

font-face {
  font-family: "museo-sans";
  src: url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "museo-slab";
  src: url("https://use.typekit.net/af/a09522/00000000000000000000ec0b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/a09522/00000000000000000000ec0b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
      format("woff"),
    url("https://use.typekit.net/af/a09522/00000000000000000000ec0b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}

/* -- Global styles -- */
html,
body {
  font-family: "museo-sans", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: "museo-sans", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: "museo-slab", Arial, Helvetica, sans-serif;
  font-weight: 800;
}

h3 {
  font-family: "museo-sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.h4 > span {
  font-family: "museo-sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.p1 {
  font-family: "museo-sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4rem;
}

.p2 {
  font-family: "museo-sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4rem;
}

.p3 {
  font-family: "museo-sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
  /* line-height: 1.4rem; */
}

.size > span {
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
}

/* -- links & buttons -- */

nav .active {
  text-decoration: underline;
  /* background-color: #ffffff;
  font-weight: 500; */
}

a {
  text-decoration: none;
  color: #053541;
}

a:hover {
  text-decoration: underline;
}

.cta_newsletter {
  color: #257ea1;
  border-style: solid;
  font-size: 24px;
  font-weight: 300;
  font-variant: small-caps;
  text-decoration: none;
  padding: 12px 60px;
  margin: 50px auto;
}

.submit {
  color: #01893b;
  border: 1px solid #01893b;
  background-color: #ffffff;
  font-size: 16px;
  font-variant: small-caps;
  font-weight: 300;
  text-decoration: none;
  padding: 12px 60px;
  margin: 50px auto;
  display: inline-flex;
  letter-spacing: 0.5px;
}

.submit:hover {
  background-color: #01893b;
  color: #ffffff;
  font-weight: 700;
}

.cta_newsletter:hover {
  background-color: #257ea1;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}

.cta_newsletter:active {
  background-color: #257ea1;
  color: #ffffff;
  font-weight: 700;
}

.crumbs {
  margin: 5px 10px 5px 20px;
}

.crumbs_nav {
  display: inline-flex;
  font-size: 12px;
  font-weight: 300;
}

.focus {
  background-color: #257ea1;
  color: #ffffff;
}

/* -------- Header --------*/
header {
  align-items: center;
  background-color: #f4f2ed;
  height: 225px;
  text-align: center;
  padding-bottom: 20px;
}
*/ nav {
  background-color: #f4f2ed;
  color: #053541;
  padding: 5px;
  justify-items: center;
}

ul {
  margin-top: 0px;
}

li {
  list-style: none;
  display: inline-block;
}

#logo {
  margin: 20px auto 30px;
  max-width: 250px;
}

.nav-items {
  padding: 5px;
  font-size: 18px;
  text-decoration: none;
  color: #053541;
  margin: 0 auto;
  font-weight: 300;
}
.fa-cart-shopping {
  margin-left: 10px;
  color: #053541;
}

.fa-plus,
.fa-minus {
  font-size: 20px;
}

span {
  font-size: 12px;
  color: #053541;
}

/* <i class="fa-solid fa-cart-plus"></i>
.fa-cart-plus {
  color: red; 
} */

/* -------- Footer -------- */

footer {
  display: flex;
  align-items: center;
  background-color: #053541;
  height: 100%;
  text-align: center;
}

.footer_nav {
  padding: 30px 0px;
  max-width: 200px;
  margin: 0 auto;
}

.footer {
  color: #ffffff;
  display: flex;
  margin: 25px 20px 25px 30px;
  text-align: left;
  max-width: 150px;
  font-weight: 300;
}

.footer_some {
  flex-direction: column;
  max-width: 250px;
  margin: -215px auto 10px;
}

.some_text {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-align: left;
  margin: 0px 5px 0px 5px;
}

.footer_some img {
  max-width: 30px;
  padding: 20px 30px 20px 0px;
}

/* Intro */

.intro {
  background-image: url(../images/hiking_1600w_v2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  min-height: 60vh;
  position: relative;
}

.intro div {
  color: #053541;
  padding: 80px 20px;
  max-width: 420px;
  margin: 0 auto;
}

.intro_heading {
  font-size: 48px;
  line-height: 0.5rem;
}

.first-section > .p2 {
  background-color: #ffffff7b;
}

/* -- Category woman & men -- */

.categories {
  display: flex;
  gap: 20px;
  margin: -50px auto;
  padding: 10px;
  top: -50px;
  max-width: 800px;
}

.category_text {
  font-family: "museo-slab", Arial, Helvetica, sans-serif;
  position: relative;
  color: white;
  top: 120px;
  padding-left: 20px;
  font-size: 48px;
}

.card-text {
  position: relative;
  color: white;
  top: -80px;
  padding-left: 20px;
  font-size: 24px;
}
/* -- New arrivals -- */
.new-arrivals {
  padding: 20px;
  margin: 40px auto;
  max-width: 800px;
}

.titles {
  color: #053541;
  font-size: 32px;
  line-height: 1.5rem;
  top: 0;
  margin: 10px 10px;
}

.products {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* -- Shop by category -- */
.shop_category_container {
  padding: 20px;
  margin: 40px auto;
  max-width: 800px;
}

.category_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 10px;
}

.category {
  color: #053541;
  font-size: 16px;
  line-height: 1.5rem;
  top: 0;
  left: 10px;
}

/* -- Newsletter & outro -- */
.outro {
  display: flex;
  padding: 20px;
  margin: 40px auto -200px;
}

.newsletter .titles {
  color: #257ea1;
}
.newsletter .p1 {
  padding: 0px 50px;
  margin-bottom: 50px;
}

.newsletter {
  margin: 20px auto;
  text-align: center;
  line-height: 1rem;
}

.mountain {
  background-image: url(../images/mountain_element.svg);
  background-size: 400px;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
  min-height: 30vh;
  margin: 10px 0px;
}

/* mobile styles*/
@media (max-width: 480px) {
  /* -------- Header -------- */

  .fa-cart-shopping {
    font-size: 15px;
  }

  .nav-items {
    font-size: 14px;
  }

  .intro {
    background-image: url(../images/hiking_800w.jpg);
  }

  .fa-solid {
    margin: 0 5px;
    line-height: 0.7rem;
  }

  .crumbs {
    margin: 5px 10px 5px 20px;
    padding: 0 20px;
  }

  .intro_heading {
    font-size: 32px;
  }
  .intro {
    min-height: 45vh;
    background-position-x: center;
    background-position-y: bottom;
  }

  .intro div {
    padding: 25px 40px;
    text-align: center;
  }

  .card-text {
    font-size: 20px;
  }

  .category {
    margin: -20px auto -155px auto;
  }

  .categories {
    flex-direction: column;
    gap: none;
    margin: -70px auto -50px;
    padding: 20px;
  }

  .new-arrivals {
    margin: 150px auto;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .shop_category_container {
    margin: -120px auto;
  }

  .category_cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    line-height: 0.5rem;
    row-gap: 20px;
  }
  .newsletter {
    margin: 100px auto;
  }

  .footer_nav {
    max-width: 160px;
  }

  .footer_some {
    text-align: left;
    margin: -250px 30px 0px;
  }
  .nav-items.footer {
    font-size: 14px;
  }
  .footer_some img {
    max-width: 30px;
    padding: 15px 10px 5px 0px;
  }
  /* who we are */
  .about_section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    grid-template-areas: "about" "founders" "newsletter" "picsone" "picstwo";
    margin-bottom: -125px;
    margin: 20px;
  }

  /* Contact */
  .contact_section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
    grid-gap: 30px;
    grid-template-areas: "about" "form" "founders" "newsletter";
    margin-bottom: -125px;
    padding: 20px;
  }

  #messageSent {
    font-size: 20px;
    color: rgb(0, 155, 49);
    text-decoration: underline;
    margin: 0px 0px 20px 0px;
  }

  .form-error {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
    font-size: 10px;
  }

  /* Product page - YUKON jacket */
  .product_description {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 1fr;
    padding: 10px;
    grid-gap: 30px;
    grid-template-areas:
      "product_one"
      "product_text"
      "description_text"
      "product_two"
      "product_three"
      "product_four";
    margin: 10px 10px 10px 10px;
    padding: 20px 10px 10px 10px;
  }

  .product_four {
    margin-bottom: 50px;
  }

  /* shopping cart */
  .shoppingcart {
    justify-items: left;
    display: grid;
    gap: 30px;
    margin: 20px 20px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "summary_title"
      "billing"
      "payment";
  }
  .divider_small.hidden {
    border-top: solid 1px #f2a766;
    margin: 50px 0 30px 0;
  }

  /* popup */
  .card {
    visibility: hidden;
    background-color: #f4f2ed;
    opacity: 0;
  }

  #popup {
    position: fixed;
    margin: -850px 0;
  }

  .card:target {
    visibility: visible;
    opacity: 1;
  }

  /* checkout */
  .shoppingcart.checkout {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 1fr;
    margin: 20px auto;

    grid-gap: 40px;
    justify-items: center;
    grid-template-areas: "summary_title" "place_order";
  }
  .place_order {
    margin: 0 auto;
  }

  .select_payment {
    margin: 0 auto;
  }
}

/* EXTRA MEDIA QUERY*/
@media (min-width: 481px) and (max-width: 800px) {
  .products {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto, auto;
  }

  .product_description {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 1fr;
    padding: 10px;
    grid-gap: 30px;
    grid-template-areas:
      "product_one"
      "product_text"
      "description_text"
      "product_two"
      "product_three"
      "product_four";
    margin: 10px 10px 10px 10px;
    padding: 20px 10px 10px 10px;
  }

  .about_section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    grid-template-areas:
      "about" "about"
      "founders" "founders"
      "newsletter" "newsletter"
      "picsone" "picstwo";

    margin: 20px;
  }

  .contact_section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
    grid-gap: 30px;
    grid-template-areas: "about" "form" "founders" "newsletter";
    margin-bottom: -125px;
    padding: 20px;
  }
  /* shopping cart */
  .shoppingcart {
    justify-items: left;
    display: grid;
    gap: 30px;
    margin: 40px 40px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "summary_title"
      "billing"
      "payment";
  }

  .divider_small.hidden {
    border-top: solid 1px rgb(242, 167, 102);
    margin: 50px 0 30px 0;
  }

  .select_payment {
    margin: 0 auto;
  }
}

/* page loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.bar {
  height: 50px;
  width: 10px;
  background-color: rgb(242, 167, 102);
  margin: 0 5px;
  animation: loader 1.5s ease-in-out infinite;
}

.bar:nth-child(1) {
  animation-delay: 0s;
}

.bar:nth-child(2) {
  animation-delay: 0.2s;
}

.bar:nth-child(3) {
  animation-delay: 0.4s;
}

.bar:nth-child(4) {
  animation-delay: 0.6s;
}

.bar:nth-child(5) {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.5);
  }
  40% {
    transform: scale(1);
  }
}
